{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">

    {% if current_user.is_authenticated %}

    <h1>Welcome to Plantfinder </h1>
    You are logged in as user: {{ current_user.username }}
       
    <a href="{{url_for('auth.logout')}}">Logout</a>

    <!-- Row: Init Data Button -->
    <div class="row mt-2">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <button type="button" id="initButton" class="btn btn-primary">Refresh Supplier Inventories</button>
        </div>
    </div>

    <!-- Row: Display init status -->
    <div class="row mt-2" id="initRow">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            {% if initStatusElement %}
                <p id="initStatusElement" class="text-left">{{ initStatusElement | safe }}</p>
            {% endif %}
        </div>
    </div>

    <!-- Row: Search Data  -->
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-center">
                    <h2>Search for plants by name...</h2>
                </div>

                <!-- Enter search text -->
                <div class="form-group mb-3">
                    {{ form.search_text(class_="form-control", placeholder="Enter search text")}}
                </div>
                {% for error in form.search_text.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> {% endfor%}

                <!-- Submit search button -->
                <div class="text-center">
                    <div class="d-grid gap-2">
                        <button type="submit" id="searchButton" class="btn btn-block btn-primary mb-3"> Submit Search </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Display Results box if not None-->
    {% if result %}
        <div class="row mt-4 text-left">
            <div class="col-lg-10 col-md-12 m-auto card p-4" style="text-align: left;">
                <p class="text-left">{{ result | safe }}</p>
            </div>
        </div>
    {% endif %}
    
    {% else %}

    <h1>  {{ title }}  </h1>
    <h3>Search supplier inventories for the plants you need</h3>
    <a href="{{url_for('auth.login')}}">Sign in/Sign Up</a>
    
    {% endif %}
</div>

<!-- JavaScript to call the initData function -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the button and input elements
        var initButton = document.getElementById("initButton");
        // var initStatus = document.getElementById("init_status");
        var initRow = document.getElementById("initRow");
        // the status url from flask routes 
        var statusUrl = "{{ url_for('init.status') }}";

        // Add a click event listener to the button
        initButton.addEventListener("click", function () {
            // Call the Flask route with an AJAX request
            console.log('Entered the initdata event')
            console.log('Name {{current_user.username}}')
            console.log('is_authenticated {{current_user.is_authenticated}}')

            $.ajax({
                url: "/init/init2",
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    // Assign each entry to a distinct JavaScript variable
                    var status = response.status;

                    // Update the corresponding elements with the new variables
                    var initStatusElement = document.getElementById("initStatusElement");
                    initStatusElement.textContent = status;

                    // Redirect to the status page on successful response
                    window.location.href = statusUrl;  

                    // Show the results row
                    initRow.style.display = "block";
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>




{% endblock %}