{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}

    <h1>Welcome to Plantfinder {{ current_user.username }}</h1>
    You are logged 
    
    <h2><a href="{{url_for('auth.logout')}}">Load new inventory</a>    </h2>

    <h2><a href="{{url_for('auth.logout')}}">Search currently loaded inventory</a>    </h2>
    <a href="{{url_for('auth.logout')}}">Logout</a>


    {% else %}

    <h1>Plantfinder by Baxtabulous</h1>
    <h3>Search supplier inventories for the plants you need</h3>
    <a href="{{url_for('auth.login')}}">Sign in/Sign Up</a>
    
    {% endif %}
</div>
{% endblock %}